workflows/telegram assistant.json
{
  "name": "telegram assistant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -800,
        -192
      ],
      "id": "12a70beb-03b7-45da-8295-fe56ff043c4f",
      "name": "Telegram Trigger",
      "webhookId": "53c410d3-338f-4fae-964e-57bdf5d058c5",
      "credentials": {
        "telegramApi": {
          "id": "your_id",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=you are a help full assistance that helps user and fulfill the requests.\n\nwhen you are asked to person a task on the current date, please use the current date and time: {{ $now }}\n\n##you should output the result and dont icludes any things unnecessary, just make sure that you politaly answer questions and ask if any other information require."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        -384
      ],
      "id": "f86158b6-a279-442c-9c14-45f1a1cc4c7e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "55fc89a0-1c7a-40f3-8fd6-484c2fb8c821",
              "name": "sessionid",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "6db66a13-19b7-4ca8-9a27-ebbfbbed69a4",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        -384
      ],
      "id": "2c2fde48-4277-4af3-be28-531d49ddcc98",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        240,
        -144
      ],
      "id": "7ad436f4-20da-461a-ad6a-367d19ee341d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "your_id",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        592,
        -384
      ],
      "id": "22619b3f-aac7-49dd-849d-fce1628edce1",
      "name": "Send a text message",
      "webhookId": "b64fe426-baae-4ac1-a8d1-4011349f2565",
      "credentials": {
        "telegramApi": {
          "id": "your_id",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionid }}",
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        336,
        -48
      ],
      "id": "ce6eb87c-c73a-433e-8a90-411897c2a715",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "02937a72-bb9e-4358-aed1-b075c62c5107"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9916ba8b-04bb-4ebe-a7bb-b0745bf0cd1c",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -624,
        -192
      ],
      "id": "7964d9ad-65ee-49c1-9b24-c69142bc0064",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -352,
        -176
      ],
      "id": "f948cc81-3ddf-4c78-82bb-c92df5751637",
      "name": "Get a file",
      "webhookId": "ae973cc8-306e-4f26-8791-116ba2bab870",
      "credentials": {
        "telegramApi": {
          "id": "your_id",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -176,
        -176
      ],
      "id": "9263c64a-70f8-487a-9680-cc0f0e43301d",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "your_id",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1b047c3-a77c-4065-83e8-6870d600c375",
              "name": "message.text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "88f51861-ddea-4afd-afe1-3e88ccc8be93",
              "name": "sessionid",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        -176
      ],
      "id": "8b19c7a4-5e0c-45ee-9f67-07c034d47d23",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "description": "this workflow helps to create events in google calender or get events  from the calender.  ",
        "workflowId": {
          "__rl": true,
          "value": "4d0BuSUEnsSKf7yi",
          "mode": "list",
          "cachedResultUrl": "/workflow/4d0BuSUEnsSKf7yi",
          "cachedResultName": "calendar_flow_agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('text', ``, 'string') }}",
            "sessionid": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionid",
              "displayName": "sessionid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        592,
        -144
      ],
      "id": "697107a5-92b0-45a5-a939-bb82f0fd871d",
      "name": "Call 'calendar_flow_agent'"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'calendar_flow_agent'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9f9496ee-cf5e-4574-90b0-84bb32946edd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "45bf8cf3eb24477445a12f7591873ec3b65d6317a59f632b59a84c553bf9f25d"
  },
  "id": "tkE9tTstRgZxCfGm",
  "tags": []
}